* {
    font-family: 'Roboto', sans-serif;
}

.menu {
    width: 100%;
    border: none;
    display: block;
    position: fixed;
    z-index: 10;
    background: white;
}
.footer{
    width: 100%;
    padding: 10px;
    background: black;
}
.menu-content {
    width: 85%;
    margin: auto;
    display: flex;
    padding: 5px;
}

.image-content {
    width: 20%;
}

.image-content img {
    width: 90%;
    padding: 12px;
}

.menu-content-items {
    width: 50%;
    margin: auto;
    display: flex;
}

.menu-item {
    width: 20%;
    text-align: center;
    margin: auto;
}

.dropdown span,
.menu-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: all .45s;
    text-align: center;
    cursor: pointer;
}

.dropdown span:hover,
.menu-item a:hover {
    color: rgb(233, 51, 141);
    ;
}

.button-coti {
    width: 12%;
    padding: 12px;
    border-radius: 8px;
    background: rgb(233, 51, 141);
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    font-weight: bold;
    margin: auto;
    transition: all .45s;
    position: relative;
}
.arch{
    font-family: 'Archivo Black', sans-serif;
}

.button-coti:hover {
    transition: all .45s;
    transform: scale(1.1, 1.1);
    font-size: 14px;
    position: relative;
    background: rgb(41, 160, 218);
}

.icon-button {
    position: absolute;
    margin-left: 27%;
    margin-top: 2px;
    font-size: 20px;
}

.menu-dropdown {
    width: 300%;
    min-height: 100px;
    position: absolute;
    background: white;
    opacity: 0;
    font-size: 14px;
    margin-top: 18%;
    margin-left: -15%;
    transition: all .45s;
    box-shadow: 0px 0px 2px silver;
    display: block;
    transform: translateY(20%);
    text-align: left;
    pointer-events: none;
}

.dropdown:hover .menu-dropdown {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
}

.dropdown {
    padding: 20px;
}

.dropdown span:hover+.menu-dropdown {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
}


.dropdown-item-menu {
    width: 55%;
    cursor: pointer;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .45s;
}

.dropdown-item-menu p {
    margin-bottom: 0;
}

.dropdown-item-menu:hover {
    width: 60%;
    background: rgb(41, 160, 218);
    color: white;

}

.menu-movil {
    display: none;
}


@media(max-width:1150px) {
    .image-content img {
        width: 100%;
    }

    .menu-content-items {
        width: 60%;
    }

    .button-coti {
        width: 16%;
    }
}

@media(max-width:958px) {
    .image-content img {
        margin-top: 5px;
    }
}

@media(max-width:873px) {
    .log-show{
        display: none;
    }
    .menu-content-items {
        display: inline-block;
        position: absolute;
        width: 100%;
        background: red;
        margin: 0;
        transform: translateX(-10%);
    }

    .image-content {
        width: 50%;
    }
    .image-content img{
        width: 70%;
    }

    .menu {
        display: none;

    }

    .menu-movil {
        display: block;
        width: 100%;
        border: none;
        background: white;
        position: fixed;
        z-index: 10;
    }

    .menu-content {
        width: 100%;
    }

    .item-menu-movil-content {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: white;
        transition: all .45s;
        transform: translateX(-100%);
        overflow: scroll;
    }
    .item-white{
        width: 100%;
        height: 50vh;
    }

    .show_menu {
        transform: translateX(0%);
    }

    .menu_button {
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 15px;
        cursor: pointer;
        position: relative;
    }

    .bar {
        width: 100%;
        height: 4px;
        background-color: #333;
        margin: 6px 0;
        transition: transform 0.4s, opacity 0.4s;
    }

    .menu_open .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .menu_open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu_open .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .content-menu-button {
        width: 50%;
        margin: auto;
    }

    .item-menu-movil {
        width: 100%;
        padding: 12px;
    }

    .item-menu-movil a,
    .item-menu-movil span {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 25px;
        margin-top: 3%;
    }

    .item-menu-movil span:hover,
    .item-menu-movil a:hover {
        color: rgb(233, 51, 141);
        ;
    }

    .dropdown-item-menu {
        padding: 13px;
        width: 90%;
        
    }
    .services-content-menu {
        width: 100%;
        padding: 10px;
        display: none;
        opacity: 0;
    }

    .expand {
        display: block;
        opacity: 1;
        transition: all .45s;
    }
    .dropdown-item-menu:hover {
        width: 80%; 
    }.button-coti{
        width: 30%;
        margin-left: 1%;
        margin-top: 2%;
        font-size: 22px;
    }
    .icon-button{
        margin-left: 40%;
        margin-top: 5px;
        font-size: 22px;
    }
}

@media(max-width:752px){
    .image-content img{
        width: 70%;
    }
    .icon-button{
        margin-left: 37%;
        margin-top: 5px;
        font-size: 20px;
    }
}

@media(max-width:665px)
{
    .item-menu-movil a,
    .item-menu-movil span {
        font-size: 20px;
    }
    .image-content img{
        width: 80%;
    }
    .icon-button{
        margin-left: 32%;
        margin-top: 5px;
        font-size: 20px;
    }
}
@media(max-width:535px)
{
    .item-menu-movil a,
    .item-menu-movil span {
        font-size: 16px;
    }
    .image-content img{
        width: 30%;
    }
    .log-show{
        display: block;
    }
    .log-show2{
        display: none;
    }
    .button-coti{
        width: 40%;
        font-size: 16px;
    }
    .icon-button{
        margin-left: 45%;
    }
}
@media(max-width:400px){
    .item-menu-movil a,
    .item-menu-movil span {
        font-size: 18px;
    }
    .button-coti{
        width: 50%;
        font-size: 18px;
    }
    .icon-button{
        margin-left: 40%;
    }
}